/OOP/homework_3/venv/
/OOP/homework_3/.idea/
/OOP/homework_3/__pycache__/
OOP/oop_module/.idea/.gitignore
OOP/oop_module/.idea/inspectionProfiles/
OOP/oop_module/.idea/misc.xml
OOP/oop_module/.idea/modules.xml
OOP/oop_module/.idea/vcs.xml
OOP/oop_module/__pycache__/
OOP/oop_module/venv/
